.sidebar {
    background-color: #363740;
    width: 13%;
    min-width: 200px;
    min-height: 100vh;
    color: #A4A6B3;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    // padding-top: 10px;
    padding-left: 2vw;

    .link {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 0;

        img {
            margin-right: 15px;
        }
    }

    .top {
        font-size: 1rem;
    }

    .center {}

    .bottom {}
}

@media only screen and (max-width: 390px) {
    .sidebar{
        display: none;
        


    }
}