.home {
    flex: 6;
    width: 80%;
    min-width: 200px;
    background-color: #E5E5E5;
    


    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;


        span {
            display: flex;
            align-items: center;

            .man {
                   width: 50px;
                   height: 50px;
                border-radius: 50%;
                padding: 0 10px;
            }
        }

        .notif {
            //   margin-left: 700px;
            border-right: 1px #1a248d18 solid;
            padding-left: 700px;
        }
    }

    .flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 85vh;
        background-color: #FFFFFF;
        margin: 0 20px;
        position: relative;

        h4 {
            padding-right: 700px;
            padding-top: 10px;
        }

        .man {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            //    justify-content: center;
            //    display: flex;
            //    align-items: center;
            margin-left: 65px;
            padding: 10px 0;

        }

        .pencil {
            position: absolute;
            top: 140px;
            left: 650px;
            width: 2%;
        }

        // form{
        //     padding: 0 60px;
        //     border-radius: 10px;
        // }
        button{
            width: 60%;
            // height: 50px;
            padding: 10px;
            border: none;
            background-color: #FF9900;
            font-size: 15px;
            cursor: pointer;
            margin-top: 15px;
            margin-bottom: 20px;
            border-radius: 5px;
        }
    }
}