.pay {
    flex: 6;
    // width: 80%;
    // min-width: 200px;
    background-color: #E5E5E5;
    // padding: 10px;

    // .head {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    //     margin: 10px 0;
    //     // min-width: 20%;

    //     p {
    //         display: none;
    //     }

    //     #sea {
    //         padding-left: 30px;

    //         .search {
    //             padding: 0 10px;
    //         }
    //     }

    //     span {
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //     }
    // }

    // .man {
    //     width: 50px;
    //     height: 50px;
    //     padding: 0 10px;
    //     border-radius: 50%;
    //     display: block;
    // }

    .container {
        background-color: #FFFFFF;
        // height: 86vh;
        padding: 0 10px;
        cursor: pointer;
        // font-size: 15px;

        .payout {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 10px;

            .sort {
                padding-left: 90px;
            }
        }

        .customer {}

        .tix {
            display: flex;
            // object-fit: contain;
            // margin-right: 100px;


            // flex-direction: column;
            // padding: 2px 0;

            .im {
                border-radius: 50px;
                margin-right: 10px;
                // padding: 5px 0;
                // width: 10%;
            }

        }

        .tan {
            color: #C5C7CD;
        }

        .Priority {
            padding: 5px;
            border-radius: 50px;
            font-size: 10px;

            &.HIGH {
                color: white;
                background-color: #F12B2C;
            }

            &.NORMAL {
                color: white;
                background-color: #29CC97;
            }

            &.LOW {
                color: white;
                background-color: #FEC400;
            }
        }

    }

}



@media only screen and (min-width: 1000px) {
    .pay {
        padding: 0px 20px;

        // .head {
        //     #sea {
        //         margin-left: 500px !important;
        //         border-right: 1px solid rgba(185, 178, 178, 0.247);
        //     }

        //     p {
        //         display: block !important;
        //     }
        // }

        .container {
            padding: 0 20px;
            height: 86vh;

            .sort {
                margin-left: 600px !important;
            }
        }
    }

}